<%- include("partials/head.ejs"); %>
<div class="grid grid-template">
    <%- include("partials/sidebar.ejs"); %>
    <%- include("partials/navUser.ejs"); %>
    <%- include("partials/editForm.ejs", { user }); %>
    <% console.log(user) %>
</div>
<script src="/public/scripts/home.js"></script>
<%- include("partials/footer.ejs"); %>