<%- include("partials/head.ejs"); %>
<div class="grid grid-template">
    <%- include("partials/sidebar.ejs"); %>
    <%- include("partials/nav.ejs"); %>
    <%- include("partials/searchInput.ejs", { allSongs }); %>
</div>
<script src="/public/scripts/home.js"></script>
<%- include("partials/footer.ejs"); %>
